[Unit]
Description=Run VaultWarden-OCI health check periodically

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=30s
Unit=vaultwarden-oci-health.service

[Install]
WantedBy=vaultwarden-oci.target
