[Unit]
Description=VaultWarden Daily DB Backup
Documentation=https://github.com/killer23d/VaultWarden-OCI
After=docker.service network-online.target
Requires=docker.service
ConditionPathExists=/opt/vaultwarden-scripts/backup.sh
OnFailure=vaultwarden-notify-failure@%n.service

[Service]
Type=oneshot
WorkingDirectory=/opt/vaultwarden-scripts
EnvironmentFile=/etc/vaultwarden/vaultwarden.env
ExecStart=/opt/vaultwarden-scripts/backup.sh --type db --rclone --email
User=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vw-db-backup
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/opt/vaultwarden-scripts /var/lib/vaultwarden /etc/vaultwarden
TimeoutStartSec=3600
