[Unit]
Description=VaultWarden Firewall Update
After=network-online.target docker.service
ConditionPathExists=/opt/vaultwarden-scripts/maintenance.sh

[Service]
Type=oneshot
WorkingDirectory=/opt/vaultwarden-scripts
EnvironmentFile=/etc/vaultwarden/vaultwarden.env
ExecStart=/opt/vaultwarden-scripts/maintenance.sh --update-firewall
User=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vw-firewall
NoNewPrivileges=yes
TimeoutStartSec=300
